<link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
<h2>Edit Bot</h2>

<%= render "form.html", changeset: @changeset,
                        action: bot_path(@conn, :update, @bot),
                        nodes: @nodes %>

<span><%= link "Back", to: bot_path(@conn, :index) %></span>
