<h2>Edit Node</h2>

<%= render "form.html", changeset: @changeset,
                        action: node_path(@conn, :update, @node),
                        bot_id: @node.bot_id %>

<span><%= link "Back", to: bot_path(@conn, :show, @node.bot_id) %></span>
