<link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
<h2>New Node</h2>

<%= render "form.html", changeset: @changeset,
                        action: node_path(@conn, :create),
                        bot_id: @bot_id %>

<span><%= link "Back", to: bot_path(@conn, :show, @bot_id) %></span>
